Libraries:
    re Library (regular expressions)
    socket Library (getting data from the internet)
    urllib Library (does socket work and makes web pages look like a file)
    Beautiful Soup
    json Library 
    SQLite (import sqlite3)

XML and JSON:
    XML: (document for structured information)
        Start Tag
        End Tag
        Text Content
        Attribute
        Self Closing Tag
        
        XML documents can be represented as Trees
        XML documents can be represented as Paths

        XML Schema:
            Legality Contract for XML

    JSON: (document for structured information)  
        simpler and more common than XML

SQL Desktop: 
    User Interface for create and maintaining a database
